spec:
  # Leave blank to have the config loader generate a timestamp-based run id
  run_id:

  data:
    nibg:
      raw_csv_path: ~/data/NDE/digital_files.csv
      raw_csv_line_count: 4741017
      minimum_time_periods: 10

    common_crawl:
      # Metadata url
      collection_url: https://index.commoncrawl.org/collinfo.json
      # Source data url
      stats_url: https://raw.githubusercontent.com/commoncrawl/cc-crawl-statistics/master/plots/mimetypes_detected.csv
      # Which statistic to use to calculate usage over time
      usage_stat: urls
      # The number of crawls to use as test data
      num_test_crawls: 6
      # Selection of mime types to use to generate usage and model plots
      mime_plots:
        - application/xhtml+xml
        - image/gif
        - application/x-mobipocket-ebook
      csv_output_dir: 'data/'


  models: []
