spec:
  # Leave blank to have the config loader generate a timestamp-based run id
  run_id:

  data:
    common_crawl:
      index_file: data/collinfo-20221007.json
      # url indices are available from june 2017 onwards
      start_from: CC-MAIN-2017-26
      download_dir: /media/rein/67ffb217-0f81-4c1a-8a43-b65b43d60738/@home/rein/NDE/Common-Crawl/
      url_index_download_template: https://data.commoncrawl.org/crawl-data/{crawl_entry}/cc-index.paths.gz
      cdx_download_template: https://data.commoncrawl.org/{cdx_entry}

  models: []
