[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# For loading the config.yaml file
"ruamel.yaml" = "*"
# For calculating statistics
numpy = "*"
# For simple linear regression
sklearn = "*"
# For fitting Bass diffusion model
scipy = "*"
# For plotting model graphs
matplotlib = "*"
tqdm = "*"
beautifulsoup4 = "*"
selenium = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.10"
