on: push

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: install dependency manager
        run: pip install pipenv

      - name: run checks
        run: make check

      - name: run tests
        run: make tests

      - name: integration-test the installable package
        run: |
          echo "installing from ${{ github.ref_name }}
          pip install git+https://github.com/Antfield-Creations/NDE-monitoring-file-formats@${{ github.ref_name }}#egg=bass_diffusion
          python3 -c "from bass_diffusion import BassDiffusionModel; model = BassDiffusionModel()" 
