on: push

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: install dependency manager
        run: |
          pip install --user pipenv

      - name: install dependencies
        run: |
          pipenv install --dev --deploy

      - name: run checks
        run: make check

      - name: run tests
        run: |
          pipenv run python -c "import sklearn"
          make tests

      - name: integration-test the installable package
        run: |
          mkdir -p /tmp/bass
          cd /tmp/bass
          echo "installing from ${{ github.ref_name }}"
          pipenv install git+https://github.com/Antfield-Creations/NDE-monitoring-file-formats@${{ github.ref_name }}#egg=bass_diffusion
          python3 -c "from bass_diffusion import BassDiffusionModel; model = BassDiffusionModel()"
